:root {
  --border-rds: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 0.7vw;
}

.check {
  display: none !important;
}

.container {
  width: 60%;
  margin: 0 auto;
  background-color: #393636;
}

.row_main {
  float: left;
  width: 100%;
}

.mb {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr {
  margin-right: 2%;
}

.demo {
  background-color: bisque;
  min-height: 100px;
}

.header {
  background-color: #198754;
  border-top: 1px solid #1da867;
  /* border: 1px solid #1da867; */
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.header h1 {
  margin: 20px;
  font-size: 2.5vw;
}

.footer {
  background-color: #198754;
  border: 1px solid #1da867;
  color: white;
  font-size: 0.8vw;
  border-radius: 5px;
  padding: 20px;
}

.bg-body-tertiary {
  background-color: black !important;
  border-radius: var(--border-rds);
}

.navbar-brand,
.navbar-nav .nav-item .nav-link {
  color: rgb(161, 161, 161) !important;
  font-size: 1.2vw;
}

.navbar-toggler {
  background-color: #eee !important;
}

.box-left {
  float: left;
  width: 74%;
}

.box-right {
  float: left;
  width: 24%;
}

.box-title {
  color: #333;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.box-content {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 200px;
  /* height: auto; */
  padding: 20px;
}

.box-content3 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
  padding: 20px;
}

.box-content2 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.box-footer {
  background-color: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* Slider  */
.banner {
  min-height: 300px;
  width: 100%;
  text-align: center;
}

.banner img {
  height: 300px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(127, 127, 127) !important;
  width: 5% !important;
}
.card {
  float: left;
  width: 32% !important;
  min-height: 400px;
  max-height: 450px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 1px 0px 1px 0px rgb(173, 173, 173);
}

.card-title {
  font-size: 16px;
}

.card .img {
  min-height: 20px;
  text-align: center;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
}

.add_cart {
  width: 80%;
  margin: 0px 20px 0 20px;
  margin-bottom: 10px;
}
.img img {
  margin-top: 10px;
  width: 90%;
  height: 220px;
  transition: transform 0.5s; /* Animation */
}

.img img:hover {
  transform: scale(1.056);
}

.navbar-brand:hover,
.nav-item > .nav-link:hover {
  color: white !important;
}

/* Box tài khoản  */

.form_tai_khoan {
  line-height: 150%;
}

.nutnhan {
  text-decoration: none;
  color: #404040;
}

.nutnhan,
.form_tai_khoan input[type="text"],
.form_tai_khoan input[type="email"],
.form_tai_khoan input[type="password"],
.form_content input[type="email"],
.form_content input[type="password"],
.form_content input[type="number"],
.form_content input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.form_tai_khoan input[type="checkbox"] {
  border-radius: 5px;
}

.nutnhan,
.search_box input[type="submit"],
.form_tai_khoan input[type="submit"],
.form_tai_khoan input[type="reset"],
.form_tai_khoan input[type="email"],
.form_content input[type="email"],
.form_content input[type="password"],
.form_content input[type="submit"],
.form_content input[type="reset"],
.form_content input[type="file"],
.form_content input[type="number"],
.form_content input[type="button"] {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white !important;
  border: 1px solid #ccc;
}

.nutnhan,
.form_tai_khoan input[type="submit"]:hover,
.form_tai_khoan input[type="reset"]:hover,
.form_content input[type="email"]:hover,
.form_content input[type="password"]:hover,
.form_content input[type="submit"]:hover,
.search_box input[type="submit"]:hover,
.form_content input[type="reset"]:hover,
.form_content input[type="file"]:hover,
.form_content input[type="number"]:hover,
.form_content input[type="button"]:hover {
  background-color: #353535;
}

.form_tai_khoan li a {
  color: rgb(1, 186, 125);
  text-decoration: none;
}

.form_tai_khoan li a:hover {
  color: rgb(0, 104, 69);
  text-decoration: underline;
}

/* Menu dọc */
.menu_doc ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.menu_doc ul li {
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.menu_doc ul li:hover {
  background-color: rgb(226, 226, 226);
}

.menu_doc ul li a {
  color: #666;
  text-decoration: none;
}

.search_box input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Top 10 Yêu Thích  */

.top10 img {
  width: 10%;
  height: 25px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.top10 a {
  color: #666;
  text-decoration: none;
  font-size: 0.8vw;
}
.top10 a:hover {
  color: #323232;
  text-decoration: underline;
}

/* Trang admin  */

.headerAdmin {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #666;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 20px;
}

.headerAdmin h1 {
  font-size: 2.5vw;
}

.frontiltle {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  color: rgb(22, 134, 97);
  border-radius: var(--border-rds);
  padding: 0px 20px;
  justify-content: center;
}

.frontiltle h1 {
  padding-top: 5px;
}

.form_content {
  padding: 20px 0px;
}
.cart table,
.form_dsloai table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #999;
}
.cart table th,
.form_dsloai table th {
  padding: 20px;
  background-color: aquamarine;
  color: rgb(36, 109, 85);
}
.cart table td,
.form_dsloai table td {
  padding: 10px 20px;
  border: 1px solid #999;
}

/* Chi tiết sản phẩm */
.img_spct {
  text-align: center;
}

.img_spct img {
  width: 40%;
  height: auto;
}

.thongbao {
  color: rgb(188, 0, 0);
}

.finish {
  color: rgb(22, 134, 97);
}

.binhluan table {
  width: 100%;
}

.binhluan table td:nth-child(1) {
  width: 50%;
}
.binhluan table td:nth-child(2) {
  width: 20%;
}
.binhluan table td:nth-child(3) {
  width: 30%;
}

#toggle_pass,
#toggle_rpass,
#toggle_pass_aside {
  position: absolute;
  margin-top: -22px;
  right: 38%;
  height: 1.2vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #333;
  font-family: fontAwesome;
}

#toggle_pass::before,
#toggle_rpass::before,
#toggle_pass_aside::before {
  content: "\f06e";
}

#toggle_pass.hide::before,
#toggle_rpass.hide::before,
#toggle_pass_aside.hide::before {
  content: "\f070";
}

.check_dots {
  display: inline-block;
  font-size: 12px;
  padding-left: 5px;
}

/* Loading Page  */
.loader {
  display: flex;
  width: 8rem;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.loader > div {
  border-top-color: rgb(0, 255, 170) !important;
}

.curve {
  width: 180%;
  height: 180%;
  position: absolute;
  animation: rotate 8s linear infinite;
  fill: transparent;
}

.curve text {
  letter-spacing: 20px;
  text-transform: uppercase;
  font: 1.5em "Fira Sans", sans-serif;
  fill: white;
  filter: drop-shadow(0 2px 8px black);
}

.blackhole {
  z-index: -1;
  display: flex;
  position: absolute;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
}

.blackhole-circle {
  z-index: 0;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    black 25%,
    white 35%,
    white 100%
  );
  box-shadow: 0px 0px 2rem #c2babb;
  align-items: center;
  justify-content: center;
}

.blackhole-circle::after {
  z-index: 0;
  position: absolute;
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid white;
  background: radial-gradient(
    circle at center,
    black 35%,
    white 60%,
    white 100%
  );
  box-shadow: 0px 0px 5rem #c2babb;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  animation: pulseAnimation linear infinite 2s alternate-reverse;
}

.blackhole-circle::before {
  z-index: 1;
  content: "";
  display: flex;
  width: 4rem;
  height: 4rem;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 10px #c2babb, inset 0 0 1rem #ffffff;
  border-radius: 50%;
  top: 5rem;
  filter: blur(0.5px);
  animation: rotate linear infinite 3s;
}

.blackhole-disc {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    #ffffff 80%,
    #353535 90%,
    white 100%
  );
  filter: blur(1rem) brightness(130%);
  border: 1rem solid white;
  box-shadow: 0px 0px 3rem #d7c4be;
  transform: rotate3d(1, 1, 1, 220deg);
  animation: pulseAnimation2 linear infinite 2s alternate-reverse;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.blackhole-disc::before {
  content: "";
  position: absolute;
  z-index: 0;
  display: flex;
  width: 5rem;
  height: 10rem;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    #ffffff 80%,
    #353535 90%,
    white 100%
  );
  filter: blur(3rem);
  border: 1rem solid white;
  box-shadow: 0px 0px 6rem #d7c4be;
  animation: pulseAnimation linear infinite 2s alternate-reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0px 0px 3rem #c2babb;
    transform: scale(1);
  }

  100% {
    box-shadow: 0px 0px 5rem #c2babb;
    transform: scale(1.09);
  }
}

@keyframes pulseAnimation2 {
  0% {
    box-shadow: 0px 0px 3rem #c2babb;
    transform: rotate3d(1, 1, 1, 220deg) scale(1);
  }

  100% {
    box-shadow: 0px 0px 5rem #c2babb;
    transform: rotate3d(1, 1, 1, 220deg) scale(0.95);
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.first_line {
  border-bottom: #ccc solid 2px;
  width: 50%;
  margin: 0 8px;
}
.second_line {
  border-bottom: #ccc solid 2px;
  width: 50%;
  margin: 0 8px;
}

.pag {
  margin: 0 37% 0 37%;
}

.page-link {
  color: #00ac5c;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: white !important;
  background-color: rgb(1, 186, 125) !important;
  border-color: rgb(0, 104, 69) !important;
}
